.chat {
    height: 100vh;
    background: #36393f;

    .leftSideMenu {
        box-sizing: border-box;
        padding-top:16px;
        height: 100vh;
        background: #202225;
        width: 75px;
        text-align: center;
    }
}
